.solution-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    margin: 5px;
}

.solution-character {
    border: solid 1px;
    border-color: grey;
    padding: 5px;
}

.solution-equipment {
    border: solid 1px;
    border-color: grey;
    padding: 5px;
}

.solution-simulation {
    border: solid 1px;
    border-color: grey;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: solid 1px;
    border-color: black;
}

td {
    text-align: center;
    vertical-align: middle;
}

.td-title {
    text-align: left;
}

.table-solution {
    width: 100%;
}

.table-simulation {
    width: 100%;
}

.table-simulation-header {
    font-weight: bold;
}

.table-simulation-profile {
    font-weight: bold;
    color: rgb(77, 77, 77)
}

.table-simulation-section {
    font-style: italic;
}