.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-gap: 5px;
  grid-auto-rows: minmax(70px, auto);
  margin: 5px;
}

.app-character {
  border: solid 1px;
  border-color: grey;
  padding: 5px;
}

.app-equipment {
  border: solid 1px;
  border-color: grey;
  padding: 5px;
}